@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --max-width: 1440px;
  --border-radius: 12px;
  --font: 'Montserrat', sans-serif;

  --black: #313131;
  --grey: #616161;
  --green: #449e47;

  --gradient-bg: radial-gradient(ellipse at 0% 0%, #E2FFC1 0%, #FFFFFF 75%);

}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  font-family: var(--font);
  color: var(--black);
  font-weight: 500;

  transition: all 0.4s;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--black);
}

h2 {
  font-size: 24px;
  color: var(--black);
}

h3 {
  font-size: 18px;
  color: var(--grey);
  letter-spacing: 0.8px;
  line-height: 30px;
}

.section__padding {
  padding: 5rem 5rem;
}

.color-change-2x {
	-webkit-animation: color-change-2x 6s linear infinite alternate both;
	animation: color-change-2x 6s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #FFFFFF;
  }
  50% {
    background: #e2ffc1;
  }
  100% {
    background: #FFFFFF;
  }
}
@keyframes color-change-2x {
  0% {
    background: #FFFFFF;
  }
  50% {
    background: #e2ffc1;
  }
  100% {
    background: #FFFFFF;
  }
}

.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}


@media screen and (max-width: 950px) {
  .section__padding {
    padding: 5rem 2rem;
  }
}

@media screen and (max-width: 725px) {
  .section__padding {
    padding: 5rem 1.5rem;
  }
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .section__padding {
    padding: 2rem 1.5rem;
  }
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
}