.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mother {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  width: 100%;
  justify-content: center;
  align-items: center;
}