.footer {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    border-top: 2px solid rgba(23, 59, 22, 0.363);

    padding: 10px 20px;
}

.footer_contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    width: 100%;
}

.footer_contents p {
    font-size: 13px;
    margin: 5px;
    text-wrap: wrap;
}

.footer_contents a {
    text-align: center;
}

.footer_contents p a {
    font-size: 13px;
    font-weight: 600;
    margin: 5px;
    text-wrap: wrap;
}

.footer_contents p a:hover {
    color: var(--green);
}

.footer_dev_t {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(128, 128, 128, 0.429);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: #e2ffc1bb;
    backdrop-filter: blur(10px);
    padding: 20px;
    height: fit-content;
    width: 280px;
}

.footer_dev_t h4 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.copybtn {
    background-color: #e2ffc1bb;
    border: 1px solid var(--grey);
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px 8px;
}

.copybtn:hover {
    color: rgb(199, 98, 80);
    border: 1px solid rgb(199, 98, 80);
}
  
.footer_dev_t.visible {
    display: block;
}

.close-button {
    width: 20px;
    background-color: #e2ffc1bb;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

@media screen and (max-width: 650px) {
    .footer_contents {
        flex-direction: column;
    }

    .footer_dev_t {
        width: 200px;
    }
}